node_modules/
*.log
.DS_Store
.env
.env.local
.env.*.local
dist/
build/
.cache/
.serverless/
.aws-sam/
sam-tests/
**/node_modules/**
.vscode/
*.swp
*.swo
*~
.idea/
*.iml
.LSOverride
.AppleDouble
.AppleDB
*.sublime-project
*.sublime-workspace
Thumbs.db
.env.example
